html,body,#root,#app{
  height: 100%;
}

.App{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #373738;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #D9D6D6;
  padding: 2%;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}

.spacer {
width: 30%;
display: flex;
background-color: red;
content: " ";
}

.search{
  display: flex;
}

.busca {
  height: 40px;
  width: 60%;
  padding-left: 15px;
  border: none;
  border-radius: 6px 0 0 6px;
}

.btn-buscar {
  background-color: #FFCC03;
  border: none;
  padding: 9px 20px;
  border-radius: 0 6px 6px 0;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  background-color: #F9F9F9;
  height: 80%;
  padding: 20px 50px;
  max-width: 70%; 
  overflow-y: scroll;
}

.card{
  background-color: #FFF;
  text-align: center;
  border: 1px solid #E4E4E4;
  width: 200px;
  border-radius: 6px;
  padding-top: 15px;
  margin: 15px;
}

.adicionar {
  border: none;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 6px 6px;
  font-size: 16px;
  font-weight: 600;
  background-color: #FFCC03;
}

.preco {
  font-size: 18px;
  color: #FFCC03;
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

.tipos {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.carrinho {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
}

.cart-header {
  display: flex;
  background-color: #FFCC03;
  align-items: center;
  padding: 20px;
  height: 20%;
}

.cart-header img{
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.finalizar {
  border: none;
  background-color: #FFCC03;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.cart-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    background-color: #FFF;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
    height: 96px;
}

.card-holder{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
}

.totalCart{
  display: flex;
  justify-content: space-evenly;
}

.modal{
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  border-radius: 6px;
  background-color: #fff;
  padding: 50px;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.modalOff{
  display: none;
}

.grass{
  color: #373738;
  background-color: #9BCC50;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.poison{
  color: #ffffff;
  background-color: #B97FC9;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}


.bug{
  color: #fff;
  background-color: #729f3f;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.water{
  color: #ffffff;
  background-color: #4592c4;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}


.normal{
  color: #373738;
  background-color: #a4acaf;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.fire{
  color: #ffffff;
  background-color: #fd7d24;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.flying{
  color: #373738;
  background-color: #3dc7ef;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.electric{
  color: #373738;
  background-color: #eed535;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.ground {
  color: #373738;
  background-color: #ab9842;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.psychic{
  color: #ffffff;
  background-color: #f366b9;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.fighting {
  color: #373738;
  background-color: #d56723;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.rock{
  color: #ffffff;
  background-color: #a38c21;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.steel {
  color: #373738;
  background-color: #a38c21;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.ice{
  color: #373738;
  background-color: #51c4e7;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.ghost {
  color: #fff;
  background-color: #7b62a3;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.dragon{
  color: #ffffff;
  background-color: #f16e57 ;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}

.fairy{
  color: #ffffff;
  background-color: #fdb9e9;
  border-radius: 20px;
  padding: 4px 15px;
  font-weight: bold;
}